<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test_Automation_Master_Project">
  <test name="BCV Tests">
		<classes>
			<class name="testCases.APItests" />
			<class name="testCases.TestBase" />
			<class name="testCases.LoginTest" />
			<!-- <class name="testCases.OrganizationSetupTest" /> -->
			<class name="testCases.CreateNewGroupTest"/>
			<!-- <class name="testCases.AddUserToGroupTest"/> -->
			<!-- <class name="testCases.RemoveUserFromGroupTest"/> -->
			<!-- <class name="testCases.CreateNewWorkspaceTest" /> -->
			<!-- <class name="testCases.CreateNewSystemRoleTest"/> -->
			<class name="testCases.AddRoleToGroupTest"/>
			<class name="testCases.RemoveRoleFromGroupTest"/>
			<!-- <class name="testCases.DeleteSystemRoleTest"/> -->
			<!-- <class name="testCases.AssignComponentsToWorkspaceTest" /> -->
			<!-- <class name="testCases.AssignUsersToWorkspaceTest" /> -->
			<!-- <class name="testCases.ArchivePurgeWorkspaceTest" /> -->
			<class name="testCases.DeleteGroupTest" />
			<class name="testCases.LogoutTest" />
		</classes>
	</test> <!-- BCV Tests -->
</suite> <!-- Test_Automation_Master_Project -->
